#carouselHome{
    height: 400px;
}

.postCarousel{
    height: 100%;
    width: 100%;
    background-size: cover;
}
.postContent{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 7px;
    transition: 0.4s ease-in-out;
}
.postContent.show{
    animation: showPostContentExcert 0.5s forwards;
}
.postContent.hide{
    animation: hidePostContentExcert 0.5s forwards;
}
/* .postContent.hide .postExcert{
    animation: opacityFrame 0.3s forwards;
}
@keyframes opacityFrame {
    from{
        opacity: 0.1;
    }
    to{
        opacity: 1;
    }
} */
@keyframes hidePostContentExcert {
    from{
       bottom: 0;
    }
    to{
        bottom: -47px;
    }
}
@keyframes showPostContentExcert {
    from{
       bottom: -70px;
    }
    to{
        bottom: 0;
    }
}
.postContent .postTitle{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
}
.postContent .postTitle:hover{
    text-decoration: underline;
}
.postContent img:hover + .postContent .postBlur{
    display: block;
}

.postContent .postInfo{
    font-size: 13px;
}

.postCarousel .postBlur{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; left: 0;
    z-index: 1;
    transition: 0.5s ease-in-out;
    animation: showPostBlur 0.5s forwards;
}
@keyframes showPostBlur {
    from {background-color: unset;}
    to {background-color: #00000038;}
}
/* .carouselHomeRight{
    display: grid;
    grid-template-columns: repeat(auto-fill, 49%);
    gap: 5px;
} */