*{
  padding: 0;
  margin: 0;
}
a{
  color: black;
  text-decoration: none !important;
}

.logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: url('https://seeklogo.com/images/M/manga-logo-26D5521A34-seeklogo.com.png');
    background-size: cover;
  }
  .site-layout .site-layout-background {
    background: #fff;
  }
  [data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
  }
Header .topHeader{
  width: 100%;
}
Header .topHeader .content>div{
  line-height: 25px;
  width: 50%;
  font-size: 12px;
  color: red;
}
#secondMenu li{
  padding: 0;
}
#socialMenu li{
    padding: 0px;
    margin: 0 5px;
}
