.adminContent .titleMagage{
    padding: 10px 15px;
}
.adminContent .titleMagage .title{
    font-size: 17px;
}

.userManage .tagList .listRoleWeb p{
    font-size: 12px;
    padding: 0 5px;
    border-left: 1px solid gray;
    display: inline-block;
    color: #0d6efd !important;
}
.userManage .tagList .listRoleWeb p span{
    color: black;
}