#mediaLibrary{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
#mediaLibrary .mediaLibrary_content{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 75%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.libraryImages .imageItem:hover, .libraryImages .imageItem:active{
    z-index: 5;
    transition: 0.2s ease-in-out !important;
    transform: scale(1.05);
    border: 2px solid greenyellow !important;
}

.libraryImages .imageItem:focus{
    border: 2px solid greenyellow !important;
}

.libraryImages .imageDetail .imageDetail_content .imageDetail_content_infor p{
    font-size: 13px;
    margin: 2px 0;
    padding: 0;
}